.button {
  display: block;
  margin: 0;
  padding: 11px 73px;

  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
}

.button--programms {
  font-size: 14px;
  line-height: 18px;

  background-color: @mainGreen;
}

.button--order {
  background-color: @mainGreen;
}

.button--more {
  width: 100%;
  color: #111111;

  background-color: @mainGray;
}

@media (min-width: @tabletWidth) {
  .button {
    padding: 17px 28px;

    font-size: 20px;
    line-height: 20px;
  }
}
