.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: auto;
}

.page-header__logo {
  display: block;

  padding: 12px 20px 11px 20px;

  border-bottom: 1px solid @mainGray;
}

.page-header__logo img {
  width: 191px;
  height: 39px;

  // width: 210px;
  // height: 58px;
}

@media (min-width: @tabletWidth) {
  .page-header {
    padding: 20px 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 92%;
    max-width: 1220px;
  }

  .page-header__logo {
    padding: 0;
    border: none;
  }

  .page-header__logo img {
    width: 173px;
    height: auto;
  }

  .page-header__nav {
    width: 62%;
  }
}

@media (min-width: @desktopWidth) {
  .page-header {
    padding: 52px 91px 52px 20px;
  }

  .page-header__logo img {
    width: 202px;
  }
}
