.programms__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.programms__item {
  display: block;
  margin: 0 20px 20px 20px;
  padding: 19px;
  padding-top: 32px;

  background-color: @mainGray;

  &:last-child {
    margin-bottom: 0;
  }
}

.programms__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 73px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: left;
}

.programms__description {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  padding-right: 16px;
  padding-bottom: 22px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  border-bottom: 1px solid black;
}

.programms__link {
  color: #111111;

  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tabletWidth) {
  .programms {
    width: 708px;
    margin: 0 auto;
  }

  .programms__list {
    flex-direction: column;
  }

  .programms__item {
    padding: 52px;
  }

  .programms__title {
    padding: 0;

    font-size: 36px;
    text-align: left;
  }

  .programms__description {
    padding-right: 246px;

    font-size: 16px;
    line-height: 24px;
  }

  .programms__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktopWidth) {
  .programms {
    width: 1220px;
  }

  .programms__list {
    flex-direction: row;
  }

  .programms__item {
    box-sizing: border-box;
    margin-right: 80px;
    width: 570px;
  }
}
