.site-list {
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;

  list-style: none;
}

.site-list__link {
  margin: 0;
  padding: 25px 70px;
  display: block;

  color: #111111;

  text-transform: uppercase;
  text-decoration: none;
}
