.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;

  list-style: none;
}

.site-list__link {
  margin: 0;
  padding: 25px 70px;
  display: block;

  color: #111111;

  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
  }
}
